@import '../base/base-dir.scss';

.header { /* Site's header */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 750px;

    /* Section : nav */
    .nav { 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        padding: 50px 50px 50px; 
        width: 100%;
        height: 40px;

        &-myLogo {
            background-size: 90px;
            width: 90px;
            height: 90px;
        }
    
        &-menuBurger {
            align-self: center;
        }   
    }

    /* Section : job */
    .job { 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 45%;

        &-title--semiBold {
            font-family: $titles-font;
            font-weight: $semiBold-weight;
            font-size: $h1;
        }
    
        &-subtitle--medium {
            font-family: $text-font;
            font-weight: $medium-weight;
            font-size: $subtitle-size;
        }
    
        &-image {
            margin-top: -25px;
            width: 800px;
            height: 415px;
        }
    }
}

.content  { /* Site's content */
    margin-top: -26px;

    /* Section : content-intro */
    &-intro {
        clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 100%, 0 60%);
        height: 800px;
        background-color: $primary;

        &--text {
            padding: 50px 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            color: $white;
        }
    
        &--medium {
            padding-top: 60px;
            width: 80%;
            font-family: $text-font;
            font-weight: $medium-weight;
            font-size: $intro-size;
        }
    
        &--italic {
            padding-top: 60px;
            width: 80%;
            font-family: $text-font;
            font-weight: $extraLight-weight;
            font-size: $intro-size;
            font-style: italic;
        }
    
        &--link {
            color: $white;
        }
    }    
    
    /* Section : content-cards */
    &-cards {
        margin: -270px 120px 0 120px;
        display: flex;
        justify-content: space-around;
        filter: drop-shadow(5px 5px 4px #A39B9C);
        -webkit-filter: drop-shadow(5px 5px 4px #A39B9C);
}

    .card {
        max-width: 20%;
        padding: 30px 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        clip-path: inset(0 0 0 round 30px);
        background-color: $white;
        color: $black;

        &-logo--redCircleBG {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            margin: 0 40% 30px 40%;
            background-color: $primary;
        }
    
        .fa-code, .fa-bezier-curve { // Logos of Dev and Design's sections
            margin: 14px 10px;
        }
    
        .fa-icons { // Logos of Hobbies' section
            margin: 14px 15px;
        }
    
        &-title--semiBold {
            margin-bottom: 40px;
            font-family: $titles-font;
            font-weight: $semiBold-weight;
            font-size: $h3;
        }
    
        &-subtitle--medium {
            margin-bottom: 50px;
            font-family: $text-font;
            font-weight: $medium-weight;
            font-size: $card-size;
            text-align: center;
        }
    
        &-learnLove {  
            margin: 0 20% 50px 20%;
            text-align: center;
        }

        &-learnLove--semiBold {
            font-family: $titles-font;
            font-weight: $semiBold-weight;
            font-size: $h4;
            color: $primary;
        }

        &-learnLove--medium {
            font-family: $text-font;
            font-weight: $medium-weight;
            font-size: $card-size;
        }

        &-tools {
            margin: 0 15% 50px 15%;
            text-align: center;
        }

        &-tools--semiBold {
            font-family: $titles-font;
            font-weight: $semiBold-weight;
            font-size: $h4;
            color: $primary;
        }

        &-tools--medium {
            font-family: $text-font;
            font-weight: $medium-weight;
            font-size: $card-size;
        }
    }

    /* Section : content-projects */
    &-projects {
        margin: 150px 120px;

        &--semiBold {
            font-family: $titles-font;
            font-weight: $semiBold-weight;
            font-size: $h2;
            text-align: center;
        }
    }

    .project {
        margin-top: 120px;
        display: flex;
        justify-content: space-around;

        &-img {
            width: auto;
            max-height: 254px;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;
            border-bottom: 5px solid #A39B9C;
            transition: all 0.1s;
            -webkit-transition: all 0.1s;
        }

        &-img:hover {
            opacity: 0.8;
        }

        &-img:active {
            transform: translate(0px,5px);
            -webkit-transform: translate(0px,5px);
            border-bottom: 1px solid;
        }
    }
}

.footer { /* Site's footer */
    height: 470px;
    background-color: $primary;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-myLogo {
        margin-top: 40px;
        position: absolute;
        background-image: url("../../webroot/assets/img/logoV9.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 172px;
        width: 172px;
        height: 172px;
    }

    .medias {
        margin-top: 300px;
        position: absolute;

        &-facebook, &-linkedIn, &-github {
            margin-right: 173px;
        }

        .fa-brands:hover, .fa-solid:hover {
            animation: gelatine 0.9s 2;
            -webkit-animation: gelatine 0.9s 2;
        }
        
        @keyframes gelatine {
            from, to { transform: scale(1, 1); }
            25% { transform: scale(0.9, 1.1); }
            50% { transform: scale(1.1, 0.9); }
            75% { transform: scale(0.95, 1.05); }
        }

        .fa-brands:active, .fa-solid:active {
            opacity: 0.8;
        }
    }

    &-creationYear--medium {
        margin-top: 420px;
        position: relative;
        font-family: $text-font;
        font-weight: $medium-weight;
        font-size: $creationYear-size;
        color: $white;
    }
}