@import '../base/base-dir.scss';

.header { /* Site's header */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 750px;

    .nav { /* Section : nav */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        padding: 50px 50px 50px; 
        width: 100%;
        height: 40px;   
    }

    &-myLogo {
        background-image: url("../../webroot/assets/img/logoV1.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90px;
        width: 90px;
        height: 90px;
    }

    &-menuBurger {
        align-self: center;
    }

    .job { /* Section : job */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 40%;
    }

    &-title--semiBold {
        font-family: $titles-font;
        font-weight: $semiBold-weight;
        font-size: $h1;
    }

    &-subtitle--medium {
        font-family: $text-font;
        font-weight: $medium-weight;
        font-size: $subtitle-size;
    }

    &-image {
        margin-top: -25px;
        background-image: url("../../webroot/assets/img/webDevJob.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 800px;
        height: 415px;
    }
}

.content  { /* Site's content */


    &-intro { /* Section : content-intro */
        clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 100%, 0 60%);
        background-color: $primary;
    }
}

// .footer { /* Site's footer */

// }


// .form {
//     display: grid;
//     width: 46%;
//     margin: auto;

//     .label-email,
//     .label-password {
//         color: $special;
//     }

//     &-email,
//     &-password,
//     &-submit {
//         background-color: $special;
//         opacity: 0.2;
//         border-radius: 2em;
//         padding: 0.5em;
//         border: none;
//         color: white;
//     }


//     &-submit {
//         margin-top: 3em;
//         opacity: 1;
//         background-color: $thirdy;
//     }

// }


// .sidebar {
//     background-color: $primary;
//     padding: 2em;

//     h1 {
//         color: $white;
//         font-weight: 600;
//         font-size: 1.5rem;
//         letter-spacing: 1px;
//     }

//     .block-cards {
//         display: flex;
//         align-items: center;
//         padding: 2em 0 0;

//         img {
//             height: 50px;
//             margin-right: 1em;
//         }

//         &-informations {
//             display: inline-block;

//             p {
//                 color: $white;
//             }

//             &--stat {
//                 display: flex;
//                 justify-content: space-between;
//             }

//             &-colors {
//                 color: red;
//                 display: flex;
//                 margin-top: 0.5em;

//                 &:before {
//                     content: '';
//                     height: 10px;
//                     width: 10px;
//                     position: relative;
//                     display: flex;
//                     margin-right: 0.4em;
//                 }
//             }

//             &-green {
//                 color: $thirdy;

//                 &::before {
//                     background-color: $thirdy;
//                 }
//             }

//             &-yellow {
//                 color: $fourthy;

//                 &::before {
//                     background-color: $fourthy;
//                 }
//             }

//             &-red {
//                 color: $fifthy;

//                 &::before {
//                     background-color: $fifthy;
//                 }
//             }
//         }
//     }
// }