$primary: #770D29;
$secondary: #533541;
$secondaryInset: #533541cc;

$white: white;
$black: black;

$shadowLight: #d1d1d1;
$shadowLightInset: #d1d1d1cc;
$shadowDark: #9c9596;
$shadowDarkInset: #9c9596cc;
