@import url('https://fonts.googleapis.com/css2?family=Grenze:wght@600&display=swap'); /* Google Font : Grenze SemiBold 600 */
@import url('https://fonts.googleapis.com/css2?family=Grenze:wght@600&family=Sofia+Sans+Condensed:ital,wght@1,200&display=swap'); /* Google Font : Sofia Sans Condensed ExtraLight 200 Italic */
@import url('https://fonts.googleapis.com/css2?family=Grenze:wght@600&family=Sofia+Sans+Condensed:wght@500&display=swap'); /* Google Font : Sofia Sans Condensed Medium 500 */

$titles-font: 'Grenze SemiBold 600';
$text-regular-font: 'sofia Sans Condensed Medium 500';
$text-italic-font: 'Sofia Sans Condensed ExtraLight 200 Italic'; 