/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Grenze:wght@600&display=swap'); /* Grenze SemiBold 600 */
@import url('https://fonts.googleapis.com/css2?family=Grenze:wght@600&family=Sofia+Sans+Condensed:ital,wght@1,200&display=swap'); /* Sofia Sans Condensed ExtraLight 200 Italic */
@import url('https://fonts.googleapis.com/css2?family=Grenze:wght@600&family=Sofia+Sans+Condensed:wght@500&display=swap'); /* Sofia Sans Condensed Medium 500 */

/* Fonts definition */
$titles-font: 'Grenze'; /* Titles (to exception of menu' links) */
$text-font: 'Sofia Sans Condensed'; /* Text */

/* Fonts weight */
$extraLight-weight: 100; /* Italic text */
$medium-weight:   500; /* Regular text */
$semiBold-weight: 600; /* Titles */

/* Fonts size : titles */
$h1: 4em; /* In header > job = 64px */
$h2: 2.5em; /* In content > content-projects = 40px */
$h3: 1.5em; /* In content > content-cards > card = 24px */
$h4: 1.125em; /* In content > content-cards > card > card-learnLove = 18px */

/* Fonts size : text */
$size-32: 2em; /* In header > job = 32px */
$size-24: 1.5em; /* In content > content-intro = 24px */
$size-18: 1.125em; /* In content > content-cards = 18px */
$links-menu: 0.75em; /* In header > nav = 12px */