@import url("https://fonts.googleapis.com/css2?family=Grenze:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grenze:wght@600&family=Sofia+Sans+Condensed:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grenze:wght@600&family=Sofia+Sans+Condensed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grenze:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grenze:wght@600&family=Sofia+Sans+Condensed:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grenze:wght@600&family=Sofia+Sans+Condensed:wght@500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Fonts import */
/* Grenze SemiBold 600 */
/* Sofia Sans Condensed ExtraLight 200 Italic */
/* Sofia Sans Condensed Medium 500 */
/* Fonts definition */
/* Titles */
/* Text */
/* Fonts weight */
/* Italic text */
/* Regular text */
/* Titles */
/* Fonts size : titles */
/* In header > job */
/* In content > content-projects */
/* In content > content-cards > card */
/* In content > content-cards > card > card-learnLove */
/* Fonts size : text */
/* In header > job */
/* In content > content-intro */
/* In footer */
/* In content > content-cards */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Fonts import */
/* Grenze SemiBold 600 */
/* Sofia Sans Condensed ExtraLight 200 Italic */
/* Sofia Sans Condensed Medium 500 */
/* Fonts definition */
/* Titles */
/* Text */
/* Fonts weight */
/* Italic text */
/* Regular text */
/* Titles */
/* Fonts size : titles */
/* In header > job */
/* In content > content-projects */
/* In content > content-cards > card */
/* In content > content-cards > card > card-learnLove */
/* Fonts size : text */
/* In header > job */
/* In content > content-intro */
/* In footer */
/* In content > content-cards */
.header {
  /* Site's header */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 750px;
  /* Section : nav */
  /* Section : job */ }
  .header .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 50px 50px 50px;
    width: 100%;
    height: 40px; }
    .header .nav-myLogo {
      background-size: 90px;
      width: 90px;
      height: 90px; }
    .header .nav-menuBurger {
      align-self: center; }
  .header .job {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%; }
    .header .job-title--semiBold {
      font-family: "Grenze";
      font-weight: 600;
      font-size: 64px; }
    .header .job-subtitle--medium {
      font-family: "Sofia Sans Condensed";
      font-weight: 500;
      font-size: 32px; }
    .header .job-image {
      margin-top: -25px;
      width: 800px;
      height: 415px; }

.content {
  /* Site's content */
  margin-top: -26px;
  /* Section : content-intro */
  /* Section : content-cards */
  /* Section : content-projects */ }
  .content-intro {
    clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 100%, 0 60%);
    height: 800px;
    background-color: #770D29; }
    .content-intro--text {
      padding: 50px 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      color: white; }
    .content-intro--medium {
      padding-top: 60px;
      width: 80%;
      font-family: "Sofia Sans Condensed";
      font-weight: 500;
      font-size: 24px; }
    .content-intro--italic {
      padding-top: 60px;
      width: 80%;
      font-family: "Sofia Sans Condensed";
      font-weight: 100;
      font-size: 24px;
      font-style: italic; }
    .content-intro--link {
      color: white; }
  .content-cards {
    margin: -270px 120px 0 120px;
    display: flex;
    justify-content: space-around;
    filter: drop-shadow(5px 5px 4px #A39B9C);
    -webkit-filter: drop-shadow(5px 5px 4px #A39B9C); }
  .content .card {
    max-width: 20%;
    padding: 30px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    clip-path: inset(0 0 0 round 30px);
    background-color: white;
    color: black; }
    .content .card-logo--redCircleBG {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      margin: 0 40% 30px 40%;
      background-color: #770D29; }
    .content .card .fa-code, .content .card .fa-bezier-curve {
      margin: 14px 10px; }
    .content .card .fa-icons {
      margin: 14px 15px; }
    .content .card-title--semiBold {
      margin-bottom: 40px;
      font-family: "Grenze";
      font-weight: 600;
      font-size: 24px; }
    .content .card-subtitle--medium {
      margin-bottom: 50px;
      font-family: "Sofia Sans Condensed";
      font-weight: 500;
      font-size: 18px;
      text-align: center; }
    .content .card-learnLove {
      margin: 0 20% 50px 20%;
      text-align: center; }
    .content .card-learnLove--semiBold {
      font-family: "Grenze";
      font-weight: 600;
      font-size: 18px;
      color: #770D29; }
    .content .card-learnLove--medium {
      font-family: "Sofia Sans Condensed";
      font-weight: 500;
      font-size: 18px; }
    .content .card-tools {
      margin: 0 15% 50px 15%;
      text-align: center; }
    .content .card-tools--semiBold {
      font-family: "Grenze";
      font-weight: 600;
      font-size: 18px;
      color: #770D29; }
    .content .card-tools--medium {
      font-family: "Sofia Sans Condensed";
      font-weight: 500;
      font-size: 18px; }
  .content-projects {
    margin: 150px 120px; }
    .content-projects--semiBold {
      font-family: "Grenze";
      font-weight: 600;
      font-size: 40px;
      text-align: center; }
  .content .project {
    margin-top: 120px;
    display: flex;
    justify-content: space-around; }
    .content .project-img {
      width: auto;
      max-height: 254px;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      box-shadow: 5px 5px 6px #A39B9C; }

.footer {
  /* Site's footer */
  height: 470px;
  background-color: #770D29;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .footer-myLogo {
    margin-top: 40px;
    position: absolute;
    background-image: url("../../webroot/assets/img/logoV9.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 172px;
    width: 172px;
    height: 172px; }
  .footer .medias {
    margin-top: 300px;
    position: absolute; }
    .footer .medias-facebook, .footer .medias-linkedIn, .footer .medias-github {
      margin-right: 173px; }
  .footer-creationYear--medium {
    margin-top: 420px;
    position: relative;
    font-family: "Sofia Sans Condensed";
    font-weight: 500;
    font-size: 24px;
    color: white; }

a {
  color: #533541; }

/*# sourceMappingURL=app.css.map */
